body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    overflow: hidden;
}

.background-container {
    background-color: #1e1f21;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 50px;
    max-width: 650px;
    max-height: 360px;
    border-radius: 20px;
    transform: scale(1.25);
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.player {
    border: none;
    color: #04e487;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    background-color: #2e2f31;
    transition: transform 0.3s ease-in-out;
}

/* Stil für die Spielernamen-Inputs */
.player-name {
    position: relative;
    left: -3px;
    font-size: 35px;
    border: none;
    background: none;
    color: #04e487;
    text-align: center;
    outline: none;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}


.player-name:focus {
    border-bottom: 2px solid #a8a8a8; /* Unterstreichen beim Bearbeiten */
    color: #a8a8a8;
}

.player-name:hover {
    transform: scale(1.05);/* Größe beim Darüberfahren mit der Maus */
}

/* Stil für die Inputs, wenn sie nicht im Fokus sind */
.player-name:not(:focus) {
    border-bottom: 2px solid transparent; /* Unsichtbare Unterstreichung */
}

.score {
    font-size: 3.2em;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s ease-in-out;
    color: white;
    cursor: default;
}

button, .rules-btn {
    font-size: 1.75em;
    font-weight: bold;
    margin: 15px;
    padding: 5px 10px;
    width: 40px;
    border-radius: 10px;
    color: #1e1f21;
    background-color: #04e487;
    border: none;
    cursor: pointer;
    transition: ease .5s;
}

button:hover, .rules-btn:hover {
    background-color: #1e1f21;
    color: #04e487;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.reset-button {
    border: 3px solid #04e487;
    background-color:  #1e1f21;
    color: #04e487;
    width: 110px;
    height: 110px;
    align-self: center;
    transition: .75s;
    margin-top: 80px;
}
.reset-button:hover {
    background-color:  #04e487;
    color: #1e1f21; 
}

.rules-btn {
    font-size: 1.5em;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    border: 3px solid #04e487;
    background-color:  #1e1f21;
    color: #04e487;
    width: 90px;
    height: 40px;
    align-self: center;
    margin-left: 18px;
}
.rules-btn:hover {
    background-color:  #04e487;
    color: #1e1f21; 
     
}

.set-counter {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 5px;
    margin-left: 43px;
}

.set-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.set-circle.filled {
    background-color: #04e487;
}

.winner {
    font-size: 1.5em;
    color: #04e487;
    margin-top: 20px;
    margin-bottom: 0;
}

.active {
    background-color: #3e3f41;
    transform: scale(1.1);
}

.serve-indicator {
    font-size: 1.2em;
    margin-top: 10px;
    color: white;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
    
    .background-container {
        transform: scale(0.5);
    }
    
}

@media only screen 
  and (min-device-width: 650px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)  {
    
    .background-container {
        transform: scale(0.8);
    }
    
}
